@*
    Page Type	        Filters Panel Behavior
    Home/Search	        Fully visible and active
    Detail Pages	    Partially active (some disabled with notes)
    Settings/History	Fully disabled with explanation or hidden if cluttered
*@
@{
    
    var mode = ViewData["FilterPanelMode"] as string ?? "Home";

}

<form id="content-filter" class="sidebar-content pt-2">

    <div class="filter-group @(mode == "ContentItem" ? "disabled-group" : "")">
        <div class="main-label">
            Content Type
        </div>
        <div class="d-flex flex-column">
            @if (mode == "Home")
            {

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="show-both" name="contentTypeFilter" value="both" checked @(mode == "ContentItem" ? "disabled" : "")>
                    <label class="form-check-label" for="show-both">
                        Issues & Solutions
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="show-issues-only" name="contentTypeFilter" value="issues" @(mode == "ContentItem" ? "disabled" : "")>
                    <label class="form-check-label" for="show-issues-only">
                        Just Issues
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="show-solutions-only" name="contentTypeFilter" value="solutions" @(mode == "ContentItem" ? "disabled" : "")>
                    <label class="form-check-label" for="show-solutions-only">
                        Just Solutions
                    </label>
                </div>
            }
            else
            {
                <small>Content type filter is only relevant on home page</small>
            }
        </div>
    </div>
    <div class="range_container filter-group" id="average-score-filter">
        <div class="d-flex mb-2 justify-content-between">

        <div aria-role="label" class="align-items-center d-flex align-items-center main-label average-score-label">
            Average Score
        </div>

        <div class="form_control">
            <div class="form_control_container">
                <label for="fromInput-average-score-filter" class="form_control_container__time">Min</label>
                <input class="form_control_container__time__input" type="number" id="fromInput-average-score-filter" value="0" min="0" max="9" step="1" />
            </div>
            <div class="form_control_container">
                <label for="toInput-average-score-filter" class="form_control_container__time">Max</label>
                    <input class="form_control_container__time__input" type="number" id="toInput-average-score-filter" value="10" min="1" max="10" step="1" />
            </div>
        </div>
        </div>

        <div class="sliders_control">
            <input class="fromSlider" id="fromSlider-average-score-filter" type="range" value="0" min="0" max="10" step="0.1" />
            <input id="toSlider-average-score-filter" type="range" value="10" min="0" max="10" step="0.1" />
        </div>
    </div>
    <div class="range_container filter-group" id="total-votes-filter">
        <div aria-role="label" class="text-nowrap me-2 align-items-center d-flex d-flex align-items-center main-label">Total Votes</div>
             <div class="d-flex mb-2 justify-content-center">
                <div class="form_control flex-grow-1">
                    <div class="form_control_container">
                        <label for="fromInput-total-votes-filter" class="form_control_container__time">Min</label>
                        <input class="form_control_container__time__input w-100" type="number" id="fromInput-total-votes-filter" value="0" min="0" step="1" />
                    </div>
                    <div class="form_control_container flex-grow-1">
                        <label for="toInput-total-votes-filter" class="form_control_container__time">Max</label>
                        <input class="form_control_container__time__input w-100" type="number" id="toInput-total-votes-filter" min="1" step="1" placeholder="No max" />
                    </div>
             </div>
        </div>
    </div>
    <div class="range_container filter-group" id="date-range-filter">
        <div aria-role="label" class="text-nowrap me-2 align-items-center d-flex d-flex align-items-center main-label">Date Range</div>
        <div class="d-flex">
            <div class="form-field w-100">
                <label class="form-field__label">From</label>
                <input id="datepicker-from" type="text" style="width: inherit;">
            </div>
            <div class="px-1"></div>
            <div class="form-field w-100">
                <label class="form-field__label">To</label>
                <input id="datepicker-to" type="text" style="width: inherit;">
            </div>
        </div>
    </div>

    <div class="filter-group">
    <div aria-role="label" class="text-nowrap me-2 mb-2 align-items-center d-flex d-flex align-items-center main-label">Tags</div>
    <div style="height: 300px; border: 1px solid blue" class="mb-3" ></div>
    </div>
</form>
