@using atlas_the_public_think_tank.Models.ViewModel.UI_VM
@model SideBar_VM


@*
    The left sidebar of the app,
    Present on all pages via the layout file

    This component is fetched via AJAX in order to get content belonging to the sidebar
*@


<header class="pt-3">
    <div class="d-flex justify-content-between  px-3  align-items-center pb-2">

    <div id="sidebar-headings">
        <h2 id="tree-heading" class="sidebar-heading fs-5 active" >Issue Categories</h2>
        <h2 id="info-heading" class="sidebar-heading fs-5" >Page Info</h2>
        <h2 id="filter-heading" class="sidebar-heading fs-5" >Content Filter</h2>
    </div>
    @await Html.PartialAsync("~/Views/Shared/LeftSideBar/_view-mode-toggle.cshtml")
    </div>
   <hr  class="m-0"/>
</header>


<div id="sidebar-content-container" class="px-3">
    @await Html.PartialAsync("~/Views/Shared/LeftSideBar/_categories.cshtml")
    @await Html.PartialAsync("~/Views/Shared/LeftSideBar/_page-info.cshtml", Model)
    @await Html.PartialAsync("~/Views/Shared/LeftSideBar/_content-filter.cshtml")
</div>


