@*
    This is the little floating circle on the left side of the screen that can be used to toggle the left sidebar

*@

<!-- Add this after the header section -->
<button class="transparent-btn left-sidebar-toggle" aria-label="Toggle sidebar">
    <i class="fa-solid fa-bars"></i>
</button>
<div id="left-sidebar-container" class="" style="user-select:none" >
    <!-- Sidebar content will be loaded here via AJAX (js file fetches it from APIController) -->
    @Html.Partial("~/Views/Shared/LeftSideBar/_left-sidebar-container.cshtml")
</div>