@using atlas_the_public_think_tank.Models.ViewModel.UI_VM
@model SideBar_VM?

@{
    var hasPageInfo = Model?.PageInfo != null;
    var pageContext = hasPageInfo ? Model!.PageInfo!.PageContext : null;
    var filterAlert = hasPageInfo ? Model!.PageInfo!.FilterAlert : null;
}

<div id="page-info" class="sidebar-content pt-2">
    <div class="filter-group">
        <section class="page-context">
            <div class="main-label">Context</div>
            <div class="dynamic-html">
                @Html.Raw(pageContext ?? "No content desc")
            </div>
        </section>
    </div>
    @if (Model.ShowPageDisplayOptions == true)
    {    
    <div class="filter-group">
        <div class="main-label">Display Options</div>
        <div class="d-flex flex-column">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showCompositeScopesToggle" />
                <label class="form-check-label" for="showCompositeScopesToggle">
                    Show Composite Scopes
                </label>
            </div>
        </div>
    </div>
    }

    <div class="filter-group page-active-filters @(filterAlert == null ? "d-none" : "" )">
            <section>
                <div class="main-label">⚠️ Active Filters</div>
                <span style="font-size:13px">You are currently filtering out content.</span>
                <div class="dynamic-html">
                    @Html.Raw(filterAlert)
                </div>
            </section>
        </div>
    
</div>