@*
   
    This is the layout that allows for smooth transitions for the lens.

    All elements of the toggle container are siblings

*@
@{
}


<div class="view-mode-toggle position-relative">
    <div class="toggle-container overflow-hidden">
        <input class="d-none" id="tree" type="radio" name="view-mode" checked />
        <input class="d-none" id="info" type="radio" name="view-mode" /> 
        <input class="d-none" id="filter" type="radio" name="view-mode" />

        <div id="view-mode-toggle-lens" class="bg-body-secondary lens"></div>

        <div id="view-toggle-outline" class="outline"></div>

        <label role="button" for="tree" tabindex="0" class="fs-3 toggle-option left-option ">
            <i class="fa-solid fa-sitemap " style="color:var(--bs-emphasis-color)"></i>
        </label>
        <label role="button" for="info" tabindex="0" class="fs-3 toggle-option middle-option">
            <i class="fa-solid fa-info-circle " style="color:var(--bs-emphasis-color)"></i>
        </label>       
        <label role="button" for="filter" tabindex="0" class="fs-3 toggle-option right-option">
            @await Html.PartialAsync("~/Views/Shared/Icons/_filter-icon.cshtml")
        </label>
    </div>
</div>