<p>
    A breadcrumb acts as a way to navigate the app as well as information about the hierarchy of content. The breadcrumb can be made of parent issues and parent solutions.
</p>
<p class="text-center">
    Issues can have sub-issues and solutions. <br/>
    Solutions can have sub-issues.
</p>
<small class="text-center d-block">These are scrollable containers for content that overflows <br/>
If an issue doesn't have a breadcrumb, it is a root issue.    
</small>