<p>This is where you can filter and sort content</p>
<small>
    <ul>
        <li>Sort is not implemented.</li>
        <li>The tags filter is not implemented.</li>
        <li>There is a concept for a vote filter but it won't be in the panel.
            <ul>
                <li>This would allow the user to view all votes, or votes of people who are part of a specific group.</li>
            </ul>
        </li>
    </ul>
</small>