<p>These icons provide info about Comment counts 
    ( <span>@await Html.PartialAsync("~/Views/Shared/Icons/_Comments.cshtml")</span>), 
    Sub-Issue counts 
    ( <span>@await Html.PartialAsync("~/Views/Shared/Icons/_SubIssues.cshtml")</span> ), 
    and Solution counts 
    ( <span>@await Html.PartialAsync("~/Views/Shared/Icons/_Solutions.cshtml")</span> ).
</p>

<p>And also are quick links to view that related content.</p>