<p>You can create an new issue or solution</p>
<p>Issues:</p>
<ul>
    <li>Can be created as a root issue</li>
    <li>Assigned as a sub-issue of another issue or solution</li>
</ul>

<p>Solutions:</p>
<ul>
    <li>Must be assigned a parent issue.</li>
</ul>