<p>Notice how the parent content is automatically selected.</p>
<p>This is a convenient to set the parent content when creating content. But when you it also locks you in to this specific parent item.</p>