
<div style="text-align:center">
    <div>
        <p>You can click the create button in the header</p>
        <button class="btn btn-info" id="create-button-custom-orientation-step">See how</button>     
    </div>
    <hr />
    <div>
        <p>You can also create an issue or solution via visiting a contents page</p>
        <button class="btn btn-info" id="view-content-to-create-custom-orientation-step">See how</button>
    </div>
    
</div>

@* <ul>
    <li>You can click the create button in the header
        <ul>
            <li></li>
            <li>If creating an issue, you can create a root issue, or search parent content to assign to it.</li>
            <li>If creating a solution, you must select a parent issue.</li> 
        </ul>
    </li>
    <li>You can also create an issue or solution via visiting a contents page
        <ul>
            <li>This can be convenient, because the create page will be loaded with the parent content selected.</li>
        </ul>
    </li>
</ul> *@