<p>Issues can have: Sub-issues, solutions, and comments </p>
<p>Solutions can have: Sub-issues and comments </p>

<small>This may be updated in the future to include new content types, like <i>Implementations</i></small>
<br/>
<small>This is a scrollable container for smaller screens</small>
<hr />
<p>You can add content to an sub-forum by clicking on the tab, and then clicking the @await Html.PartialAsync("~/Views/Shared/Icons/_ActionsIcon.cshtml") Actions button</p>