@* 
Title in JS
"This is the vote dial"
*@
<div>
    It features
    <ul>
    <li>An average of all votes</li>
    <li>A voting dial for casting and viewing your own vote</li>
    <li>A total number of votes</li>
</ul>
</div>