    <p>You just made a request to vote during orientation.<br />
    Hats off to you.</p>
    <p>
        In order to prevent accidental voting, this vote confirmation modal will pop up any time you attempt to vote
    </p>
