@page "/register/confirmation"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
        <p>
            Please check your email to confirm your account.
        </p>
</div>

