@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* 

width 267px 

Height 100%
Scroll Y

Collapse button
    Menu or side of container

*@


@Html.Partial("~/Views/Forum/_left-sidebar-toggle.cshtml")

<div id="left-sidebar-container" class="px-3">


  

    <header class="d-flex justify-content-between pt-2">
        <h3>Forums</h3>
        <button class="transparent-btn">
            <i>filter</i>
        </button>
    </header>

    <hr />

    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Accordion Item #2
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
            </div>
        </div>
    </div>
</div>





