@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Guides";
}


@section Styles {
    <link rel="stylesheet" href="~/guides/layout.css" />
}


<div class="inner cover container text-center my-5">
    <h1 class="cover-heading">Guides for The Public Think Tank</h1>
    <p class="lead">
        This page brings together all of the guides for using the platform.
        <br /><br />
        Whether you're creating an issue, proposing a solution, or testing ideas, these guides are here to help you understand the process. Over time, this section will expand to include community expectations, moderation guidance, and other resources to support effective collaboration.
    </p>
</div>


<div class="container px-4 text-center">
    <div class="row g-5">
        <div class="col">
            <div class="card mx-auto">
                @await Html.PartialAsync("~/Views/Shared/Icons/_SubIssues.cshtml")
                <div class="card-body">
                    <h5 class="card-title">Guide to Creating Issues</h5>
                    <p class="card-text">Learn how to write about an issue.</p>
                    <a asp-action="CreatingIssuesGuide" asp-controller="Guides" class="btn btn-primary">Issue Guide</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto">
                @await Html.PartialAsync("~/Views/Shared/Icons/_Solutions.cshtml")
                <div class="card-body">
                    <h5 class="card-title">Guide to Creating Solutions</h5>
                    <p class="card-text">Learn how to write about a solution.</p>
                    <a asp-action="CreatingSolutionsGuide" asp-controller="Guides" class="btn btn-primary">Solution Guide</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mx-auto">
                @await Html.PartialAsync("~/Views/Shared/Icons/_TesterIcon.cshtml")
                <div class="card-body">
                    <h5 class="card-title">Guide to Becoming an App Tester</h5>
                    <p class="card-text">Learn about how you can help this app.</p>
                    <a asp-action="TestingGuide" asp-controller="Guides" class="btn btn-primary">Testing Guide</a>
                </div>
            </div>
        </div>
    </div>
</div>
