@using atlas_the_public_think_tank.Models.ViewModel
@model List<ContentItem_ReadVM>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@foreach (var item in Model)
{
    @if (item is Issue_ReadVM issue)
    {
        @Html.Partial("~/Views/Issue/_issue-card.cshtml", issue)
    }
    else if (item is Solution_ReadVM solution)
    {
        @Html.Partial("~/Views/Solution/_solution-card.cshtml", solution)
    }
    else
    {
        <div class="alert alert-warning">
            Unknown content type: @item.GetType().Name
        </div>
    }
}