@*
    
    This file is empty, but represents space on the home page

*@
@{
}

<div class="col-lg-3 d-none d-lg-block">
   
    @* 
        This space may end up being used for many different things 
        Ai Chat Dialog? 
        Messages?
        Alerts
        Actions
        Advertisements?
    *@

</div>