@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-lg-3 d-none d-lg-block">
   
    @* 
        This space may end up being used for many different things 
        Ai Chat Dialog? 
        Messages?
        Alerts
        Actions
        Advertisements?
    *@

</div>