@model List<atlas_the_public_think_tank.Models.Forum_ReadVM>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<h1>All Posts</h1>

@if (Model.Any())
{
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <strong>@post.Title</strong> - @post.Content
                <br />
                @* <em>Category: @post.Category?.Name</em> *@
                <br />
                <em>Posted by: @post.Author?.UserName</em>
            </li>
        }
    </ul>
}
else
{
    <p>No posts available.</p>
}