@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="alert alert-warning border border-3" role="alert" style="
    font-size: 12px;
    text-align: justify;">
    <p>Use a <strong>strong, unique password</strong> that you don't reuse on other sites.</p>
    <p>We'll <strong>never ask for your password or personal information via email</strong>.</p>
    <p class="mb-0">If you ever receive a <strong>suspicious message</strong> claiming to be from us, please <strong>contact us directly</strong>.</p>
</div>


