@*
    This is the "Expand" button seen in cards that are collapsed

    The "Minimize" button is in the Issue/Solution cards themselves
*@
@{
}
<div class="card-collapse-toggle-container mt-2 mx-auto" style="
">
    <button class="card-expand-toggle btn btn-secondary btn-sm  mb-2 mx-auto d-block" >Expand</button>
</div>