@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card-collapse-toggle-container mt-2 mx-auto" style="
">
    <button class="card-expand-toggle btn btn-secondary btn-sm  mb-2 mx-auto d-block" >Expand</button>
</div>