<form class="w-100 me-3" role="search" onsubmit="event.preventDefault();">
    <input type="search" id="header-search-bar" class="form-control position-absolute" placeholder="Search..." aria-label="Search">
    <div id="header-search-bar-results">

    </div>
</form>