    <form class="w-100 d-md-flex d-none me-3 input-group search-bar-form" role="search" onsubmit="event.preventDefault();">
        <input type="search" id="header-search-bar" class="form-control" placeholder="Search..." aria-label="Search">
        <span class="input-group-text">
            <input type="checkbox" id="apply-filter-checkbox" />
            <label for="apply-filter-checkbox" class="ms-3" style="user-select:none">Apply Filter</label>
        </span>
    </form>

<div class="search-bar-icon-trigger d-flex d-md-none w-fit justify-content-end p-1 fs-4 mx-2 " style="cursor:pointer;">
    @await Html.PartialAsync("~/Views/Shared/Icons/_search-icon.cshtml")
    </div>
