
@* z-index above select2 dropdown and a custom close button in the create/edit content item form *@
<div class="sticky-top search-bar-results-header" style="z-index: 1053;">
    <div class="backdrop-search-results d-none">
    </div>
        <div id="header-search-bar-results" class="bg-light-subtle"></div>
    
</div>