@using System.ComponentModel.DataAnnotations
@using atlas_the_public_think_tank.Data.CRUD
@using atlas_the_public_think_tank.Data.RepositoryPattern.Repository.Helpers
@using atlas_the_public_think_tank.Models.ViewModel.AjaxVM
@using atlas_the_public_think_tank.Models.ViewModel.CRUD.Issue
@using atlas_the_public_think_tank.Models.ViewModel.PageVM
@model CreateSolution_PageVM;
@inject Read _read;

@{
    ViewData["Title"] = "Create a new Solution";
}


<div class="m-1 create-solution-page">

    <div id="solution">
        @*  
            After saving issue as Draft or Publish, a rendered card replaces this content.
            The user can cast their initial vote, or to back to edit.
        *@
        @{

            Issue_ReadVM? parentIssue = Model.Solution.ParentIssueID != null ? await _read.Issue((Guid)Model.Solution.ParentIssueID!, new ContentFilter()) : null;

            if (parentIssue != null)
            {
                Model.Solution.ParentIssue = parentIssue;    
            }


        }

        @await Html.PartialAsync("~/Views/Solution/_create-or-edit-solution.cshtml", new Solution_CreateOrEdit_AjaxVM
        {
            Solution = Model.Solution
        })
    </div>
</div>



@* Todo: update this js form*@
<script src="~/js/Content/Create.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        const firstFormField = document.querySelector("form.solution-editor #Title")
        firstFormField.focus()
        firstFormField.closest(".form-input").classList.add("active")
    })
</script>